parameters:
    level: 7
    configDirectories:
        - config
    paths:
        - src
        - config
        - database
        - routes
        - tests/Fixtures/Models/TestModel.php
    tmpDir: build/phpstan
